* {
  box-sizing: border-box;
  margin: 0;
  color: rgb(200, 200, 200);
}

button {
  border: none;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

body {
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body::before {
  background: rgba(0, 0, 0, 0.75);
  content: "";
  inset: 0;
  position: fixed;
  z-index: -1;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.auth > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.auth img {
  height: 100px;
}
.auth h1 {
  font-size: clamp(24px, 5vw, 60px);
}
.auth div:has(> form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(200, 200, 200, 0.08);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
}
.auth div:has(> form) div:last-child {
  display: flex;
  width: 100%;
}
.auth div:has(> form) div:last-child button {
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  padding: 16px;
}
.auth div:has(> form) div:last-child button.active {
  background-color: rgba(200, 200, 200, 0.7);
}
.auth div:has(> form) div:last-child button:not(.active):hover {
  background-color: rgba(200, 200, 200, 0.15);
}
.auth div:has(> form) div:last-child button:not(.active):focus {
  background-color: rgba(200, 200, 200, 0.5);
}
.auth form {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 100%;
  padding: 32px;
  gap: 16px;
}
.auth form .input-wrapper {
  position: relative;
}
.auth form .input-wrapper label {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 0.95rem;
}
.auth form .input-wrapper input:is(:focus, :not(:placeholder-shown)) + label {
  transform: translateY(-68%) scale(0.85);
}
.auth form .input-wrapper input {
  background-color: rgba(200, 200, 200, 0.08);
  border: 2px solid rgba(200, 200, 200, 0.08);
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding: 16px;
}
.auth form .input-wrapper input:-webkit-autofill, .auth form .input-wrapper input:-webkit-autofill:hover, .auth form .input-wrapper input:-webkit-autofill:focus, .auth form .input-wrapper input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(200, 200, 200, 0.08) inset;
  -webkit-text-fill-color: rgb(200, 200, 200);
  caret-color: rgb(200, 200, 200);
  transition: background-color 5000s ease-in-out 0s;
}
.auth form .input-wrapper input.error {
  border-color: rgb(251, 44, 54);
}
.auth form .input-wrapper input:focus {
  border-color: rgba(200, 200, 200, 0.5);
}
.auth form p.error {
  color: rgb(251, 44, 54);
  font-size: 0.9rem;
  margin-top: -15px;
  margin-left: 10px;
  white-space: pre;
}
.auth form input[type=checkbox] {
  display: none;
}
.auth form input[type=checkbox] + .remember-toggle {
  position: relative;
  display: inline-block;
  background-color: rgba(200, 200, 200, 0.15);
  width: 30px;
  height: 20px;
  top: 4px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.auth form input[type=checkbox] + .remember-toggle::before {
  position: absolute;
  content: "";
  background-color: rgb(200, 200, 200);
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin: 2px;
  transition: all 0.2s ease;
}
.auth form input[type=checkbox]:checked + .remember-toggle {
  background-color: rgba(200, 200, 200, 0.5);
}
.auth form input[type=checkbox]:checked + .remember-toggle::before {
  transform: translateX(11px);
}
.auth form button {
  outline: none;
  width: 100%;
  height: 24px;
  background-color: rgba(200, 200, 200, 0.15);
  border-radius: 16px;
}
.auth form button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}
.auth form button:focus {
  background-color: rgba(200, 200, 200, 0.7);
}

nav {
  background: rgba(200, 200, 200, 0.08);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: fixed;
  z-index: 1000;
  padding: 16px;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 0 0 8 8;
}
nav img {
  height: clamp(40px, 10vw, 70px);
}
nav h1 {
  font-size: clamp(20px, 5vw, 32px);
}
nav div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div:first-child > div {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .burger {
  display: flex;
  flex-direction: column;
  align-items: initial;
  gap: 4px;
  background: transparent;
  transition: all 0.2s ease;
}
nav .burger:hover {
  transform: scale(1.2);
}
nav .burger span {
  display: block;
  height: 2px;
  width: 22px;
  background-color: rgb(200, 200, 200);
}
nav #dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
nav #dropdown a {
  text-decoration-color: transparent;
  transition: all 0.2s ease;
}
nav #dropdown a:hover {
  text-decoration-color: rgb(200, 200, 200);
}

.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select * {
  color: #000;
}
.custom-select > div {
  display: flex;
  gap: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 8px;
}
.custom-select > div:hover {
  border-color: #999;
}
.custom-select > div span:nth-of-type(2) {
  transition: all 0.2s ease;
}
.custom-select > div.active span:nth-of-type(2) {
  transform: rotate(180deg);
}
.custom-select ul {
  display: none;
  position: absolute;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 2;
}
.custom-select li {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  gap: 8px;
  cursor: pointer;
}
.custom-select li:hover {
  background-color: #00f;
}
.custom-select li:hover * {
  color: #fff;
}
.custom-select li .caret {
  width: 10px;
  text-align: center;
}
.custom-select li img {
  width: 20px;
  height: 20px;
}

img.test {
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
