
@use "variables" as var;

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    > *{
        @include var.flex-column;
        gap: 16px;
    }

    img{
        height: 100px;
    }

    h1 {
        font-size: clamp(24px, 5vw, 60px);
    }

    div:has(> form){
        @include var.flex-column();
        @include var.blur();
        border-radius: 16px;
        width: 100%;
        overflow: hidden;

        div:last-child{
            display: flex;
            width: 100%;

            button{
                border:none;
                cursor: pointer;
                width: 100%;
                background-color: transparent;
                padding: 16px;

                &.active{
                    background-color: var.$shade-stronger;
                }
                &:not(.active):hover{
                    background-color: var.$shade-medium
                }
                &:not(.active):focus{
                    background-color: var.$shade-strong
                }
            }
        }
    }

    form{
        @include var.flex-column(initial);
        width:100%;
        padding:32px;
        gap:16px;

        .input-wrapper{
            @include var.label-out-when-focus();
            input{
                background-color: var.$shade-light;
                border: 2px solid var.$shade-light;
                border-radius: 10px;
                outline: none;
                width: 100%;
                padding: 16px;
                @include var.autofill-fix();

                &.error{
                    border-color: var.$warning;
                }

                &:focus{
                    border-color: var.$shade-strong;
                }
            }
        }

        p.error{
            color: var.$warning;
            font-size: 0.9rem;
            margin-top: -15px;
            margin-left: 10px;
            white-space: pre;
        }

        input[type="checkbox"]{
            @include var.better-checkbox()
        }

        button{
            outline: none;
            width: 100%;
            height:24px;
            background-color: var.$shade-medium;
            border-radius: 16px;

            &:hover{
                background-color: var.$shade-strong;
            }

            &:focus{
                background-color: var.$shade-stronger;
            }
        }
    }
}