body {
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    z-index: -1;
}
