body{
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before{
        background: rgba(0,0,0,0.75);
        content: "";
        inset: 0;
        position: fixed;
        z-index: -1;
    }
}