@use "variables" as var;

*{
    box-sizing: border-box;
    margin: 0;
    color: var.$base;
}

button{
    border: none;
    cursor:pointer
}

.input-wrapper,
.input-number-wrapper {
    input {
        @include var.base-input-style;
    }
}

.input-wrapper {
    @include var.label-out-when-focus;
    input{
        border-radius: 16px;
    }
}

.input-number-wrapper {
    @include var.label-out-when-focus("number");
    button:first-of-type{
        border-radius: 16px 16px 0px 0px;
    }
    button:last-of-type{
        border-radius: 0px 0px 16px 16px;
    }
}
.custom-checkbox{
    @include var.better-checkbox()
}

p.error{
    color: var.$warning;
    font-size: 0.9rem;
    margin-top: -15px;
    margin-left: 10px;
    white-space: pre-wrap;
}

[hidden] {display: none !important;}