@use "base";
@use "background";
@use "../auth/auth";
@use "../app/navbar/navbar";
@use "../app/customSelect/customSelect";

@use "variables" as var;


#showCard{
    > div:last-of-type{
        > div {
            > img{
                @include var.small-img;
            }
            > div img {
                height: 250px;
                border-radius: 10px;
            }
        } 
    }
    > img{
        position: fixed;
        pointer-events: none;
        display: none;
        z-index: 1000;
        height: 400px;
        border-radius: 15px;
    }
}

#preview{
    position: fixed;
    pointer-events: none;
    display: none;
    z-index: 1000;
    height: 400px;
    border-radius: 15px;
}