@use "base";
@use "background";
@use "../auth/auth";
@use "../app/navbar/navbar";
@use "../app/customSelect/customSelect";

@use "variables" as var;


#showCard{
    > div:last-of-type{
        > div {
            > img{
                @include var.small-img;
            }
            > div {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                div{
                    position: relative;
                    img {
                        height: 250px;
                        border-radius: 10px;
                    }
                    button{
                        position: absolute;
                        right: 0px;
                        height: 20px;
                        width: 20px;
                        background-color: var.$warning;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
                
            }
        } 
    }
}

#preview{
    position: fixed;
    pointer-events: none;
    display: none;
    z-index: 1000;
    height: 400px;
    border-radius: 15px;
}