
@use "base";
@use "background";
@use "auth";
@use "navbar";
@use "variables" as var;

.custom-select{

    > div:first-child > div{
        cursor: pointer;
        span{
            transition: transform 0.2s ease;
            display: inline-block;
        }
    }

    > div:first-child > div.active span{
        transform: rotate(-180deg);
    }

    > div:nth-child(2){
        display: none;

        > div{
            cursor: pointer;
        }
    }
}
