$white: rgb(255 255 255);
$base: rgb(200 200 200);
$shade-light: rgba($base, 0.08);
$shade-medium: rgba($base, 0.15);
$shade-strong: rgba($base, 0.5);
$shade-stronger: rgba($base, 0.7);
$warning: rgb(167 31 37);
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;


@mixin blur(){
    $blur: 16px;
    background: $shade-light;
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

@mixin flex-column($align-item: center){
    display: flex;
    flex-direction:column;
    align-items: $align-item;
    justify-content: space-between;
}

@mixin autofill-fix($box-color: $shade-light, $text-color: $base) {
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus,&:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #{$box-color} inset;
        -webkit-text-fill-color: #{$text-color};
        caret-color: #{$text-color};
        transition: background-color 5000s ease-in-out 0s;
    }
}

@mixin base-input-style($width: 100%) {
    background-color: $shade-light;
    border: 2px solid $shade-light;
    outline: none;
    width: $width;
    padding: 16px;
    @include autofill-fix();

    &.error {
        border-color: $warning;
    }

    &:focus {
        border-color: $shade-strong;
    }
}


@mixin label-out-when-focus($type: "default"){
    position: relative;
    label{
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        transition: all .2s ease;
        pointer-events: none;
        font-size: .95rem;
        }
    @if $type == "default"{
        input:is(:focus, :not(:placeholder-shown)) + label{
            transform: translateY(-68%) scale(.85);
        }
    }
    @else if $type == "number"{
        &:has(input:is(:focus, :not(:placeholder-shown))) label {
            transform: translateY(-68%) scale(.85);
        }

    }
}

@mixin better-checkbox(){
    input{
        display: none;
        + .toggle{
            position:relative;
            display: inline-block;
            background-color: $shade-medium;
            width:30px;
            height:20px;
            top:4px;
            border-radius: 16px;
            cursor:pointer;
            transition: all .2s ease;
            &::before{
                position: absolute;
                content:"";
                background-color: $base;
                width:15px;
                height:15px;
                border-radius: 50px;
                margin:2px;
                transition: all .2s ease
            }
        }

        &:checked + .toggle{
            background-color: $shade-strong;
            &::before{
                transform: translateX(11px);
            }
        }
    }
    
}

@mixin small-img{
    width: 20px;
    height: 20px;
}