$base: rgb(200 200 200);
$shade-light: rgba($base, 0.08);
$shade-medium: rgba($base, 0.15);
$shade-strong: rgba($base, 0.5);
$warning: rgb(251 44 54);
$blur: 12px;
$radius: 16px;
$padding: 16px;
$gap: 16px;
$indication-margin-top: -15px;
$indication-font-size: 0.7rem;

@mixin autofill-fix($bg, $color) {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #{$bg} inset;
        -webkit-text-fill-color: #{$color};
        caret-color: #{$color};
        transition: background-color 5000s ease-in-out 0s;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    color: $base;
}

body{
    background-image: url('../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before{
        background: rgba(0,0,0,0.75);
        content: "";
        inset: 0;
        position: fixed;
        z-index: -1;
    }
}

button{
    border: none;
    cursor: pointer;
}

[hidden] { display: none !important; }

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    div:has(> form){
        border-radius: $radius;
        width: 720px;
        overflow: hidden;

        form{
            width: 100%;
            padding: calc($padding*1.5);

            .input-group{
                position: relative;
                width: 100%;

                input{
                    background-color: $shade-light;
                    border-radius: 10px;
                    border: 2px solid $shade-light;
                    outline: none;
                    width: 100%;
                    padding: $padding;
                    @include autofill-fix($shade-light, $base);

                    &:focus{
                        border-color: $shade-strong;
                    }

                    &:is(:focus, :not(:placeholder-shown)) + label{
                        top: -.2em;
                        transform: translateY(-68%) scale(.85);
                        color: $shade-strong;
                    }
                    &.invalid{
                        border-color: $warning;
                    }
                }

                label{
                    position: absolute;
                    left: $padding;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all .2s ease;
                    pointer-events: none;
                    font-size: .95rem;
                }
            }

            input[type="checkbox"]{
                display: none;

                + .remember-toggle{
                    display: inline-block;
                    background-color: $shade-medium;
                    width: 30px;
                    height: 20px;
                    top: 4px;
                    border-radius: $radius;
                    cursor: pointer;
                    position: relative;
                    transition: .2s ease;

                    &::before{
                        position: absolute;
                        content: "";
                        background-color: $base;
                        width: 15px;
                        height: 15px;
                        top:.5px;
                        border-radius: 50px;
                        margin: 2px;
                        transition: .2s ease;
                    }
                    
                    + label{
                        pointer-events: none;
                    }
                }

                &:checked + .remember-toggle{
                    background-color: $shade-strong;

                    &::before{
                        transform: translateX(11px);
                    }
                }
            }

            button{
                width: 100%;
                height: 25px;
                background-color: $shade-medium;
                border-radius: $radius;
                &:hover{
                    background-color: $shade-strong;
                }
            }
            p.error{
                color: $warning;
                font-size: 0.7rem;
                margin-top: -15px;
                margin-left: 10px;
                white-space: pre;
            }
        }

        div:last-child{
            display: flex;
            width: 100%;

            button{
                width: 100%;
                background-color: transparent;
                padding: $padding;

                &.active{
                    background-color: $shade-strong;
                }

                &:not(.active):hover{
                    background-color: $shade-medium;
                }
            }
        }
    }
}

.app{
    display: block;
}

// ========= Utilitaires =========

.blur{
    background: $shade-light;
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

.align-start {
    align-items: initial;
}

.no-gap{
    gap: 0;
}

