@use "../../scss/variables" as var;

.custom-input-number{
    display:flex;
    flex-direction: column;
    input[type="number"] {
        @include var.base-input-style;
        appearance: textfield;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
            appearance: none;
            -webkit-appearance: none;
        }
    }
}