.custom-select{
    position: relative;
    display: inline-block;

    *{color:#000}

    > div{
        display: flex;
        gap:8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        padding: 0 8px;

        &:hover{border-color: #999}

        span:nth-of-type(2){transition: all .2s ease}

        &.active span:nth-of-type(2){transform: rotate(180deg)}
    }

    ul{
        display: none;
        position: absolute;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        z-index: 2;
    }

    li{
        display: flex;
        width: 100%;
        padding: 4px 8px;
        gap: 8px;
        cursor: pointer;

        &:hover{
            background-color: #00f;
            *{color:#fff}
        }

        .caret{
            width: 10px;
            text-align: center;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
}