@use "../../scss/variables" as var;

.custom-select{
    position: relative;
    display: inline-block;
    width:100%;
    background-color: var.$shade-light;

    > div{
        display: flex;
        justify-content: space-between;
        gap:8px;
        border: 2px solid var.$shade-light;
        border-radius: 4px;
        background-color: var.$shade-light;
        cursor: pointer;
        padding: 0 8px;

        &:hover{border-color: #999}

        span:nth-of-type(2){transition: all .2s ease}

        &.active span:nth-of-type(2){transform: rotate(180deg)}
    }

    ul{
        display: none;
        position: absolute;
        width: 100%;
        padding: 0;
        border: 2px solid var.$shade-light;
        border-radius: 4px;
        @include var.blur();
        z-index: 2;
    }

    li{
        display: flex;
        white-space: nowrap;
        width: 100%;
        padding: 4px 8px;
        gap: 8px;
        cursor: pointer;

        &:hover{
            background-color: #00f;
            *{color:#fff}
        }

        .caret{
            width: 10px;
            text-align: center;
        }

        img{
            @include var.small-img;
        }
    }
}