@use "../scss/variables" as var;

.app{
    > *:not(nav):not(#preview){
        margin: 16px;
        border-radius: 16px;
        padding: 16px;
        @include var.blur();
        &:not(#showCard){
            @include var.flex-column();
            gap: 16px;
            > div{
                width: 100%;
            }
            button{
                outline: none;
                width: 100%;
                height:24px;
                background-color: var.$shade-medium;
                

                &:hover{
                    background-color: var.$shade-strong;
                }

                &:focus{
                    background-color: var.$shade-stronger;
                }
            }
        }
    }
    .select-wrapper{
        display: flex;
        gap: 16px;
        label{
            white-space: nowrap;
        }
    }
}