@use "../../scss/variables" as var;

nav{
    @include var.blur();
    position: fixed;
    z-index:1000;
    padding:16px;
    left:0;
    right:0;
    top:0;
    border-radius: 0 0 8 8;

    img{
        height: clamp(40px, 10vw, 70px);
    }

    h1{
        font-size: clamp(20px, 5vw, 32px);
    }

    div:first-child{
        display:flex;
        align-items: center;
        justify-content: space-between;

        > div {
            display:flex;
            align-items: center;
            gap: 16px
        }
    }

    .burger{
        @include var.flex-column(initial);
        gap: 4px;
        background: transparent;
        transition: all .2s ease;

        &:hover{
            transform: scale(1.2);
        }

        span{
            display: block;
            height: 2px;
            width: 22px;
            background-color: var.$base;
        }
    }

    #dropdown{
        @include var.flex-column();
        gap: 16px;
        
        a{
            text-decoration-color: transparent;
            transition: all .2s ease;

            &:hover{
                text-decoration-color: var.$base;
            }
        }
    }
}